<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
        <!-- 系统表 -->
        <typeAlias alias="User"       type="com.authority.entity.User"/>
        <typeAlias alias="Account"    type="com.authority.entity.Account"/>
        <typeAlias alias="Role"       type="com.authority.entity.Role"/>
        <typeAlias alias="UserRole"   type="com.authority.entity.UserRole"/>
        <typeAlias alias="Module"     type="com.authority.entity.Module"/>
        <typeAlias alias="RoleModule" type="com.authority.entity.RoleModule"/>
        <typeAlias alias="Operation"  type="com.authority.entity.Operation"/>
        <typeAlias alias="RoleAction" type="com.authority.entity.RoleOperation"/>
    </typeAliases>
</configuration>