<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
        <!-- 系统表 -->
        <typeAlias alias="TestUser" type="com.business.lofter.entity.TestUser"/>
    </typeAliases>
</configuration>